+-------------------------------------+
|Working Kernel name: {{mysysinfo.0}} |
|-------------------------------------|
|Working shell name: {{mysysinfo.1}}  |
+-------------------------------------+
